<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"  />
  </system.web>
  <microsoft.identityModel>
    <service >
      <audienceUris >
        
        <add value="http://isupport.apphb.com/" xdt:Transform="Replace"/>
      </audienceUris>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="https://transparent.accesscontrol.windows.net/v2/wsfederation" realm="http://isupport.apphb.com" requireHttps="false" xdt:Transform="Replace" />
      </federatedAuthentication>      
    </service>
  </microsoft.identityModel>
</configuration>