@{
    ViewBag.Title = "sdtime";
}

<header>
            <div class="header">
                <div class="sd-logo">SD TIME</div>
            </div>
            <div class="subheader">
    
            </div>
        </header>
        
        <div class="wrapper">
            <div class="content">
                
                <div class="dayview-top">
                    <div class="dayview-left">
                        <span class="dayview-day">Wednesday</span> <span class="dayview-date">24 Oct</span>
                    </div>
                    <div class="dayview-right">
                        <div class="dayview-controls">
                            <a href="#" class="control-left">&lt;</a>
                            <a href="#" class="control-middle-selected">Today</a>
                            <a href="#" class="control-right">&gt;</a>
                        </div>
                        <div class="dayview-calendar">
                            <a href="#" class="view-calendar">Cal</a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="dayview-toggle">
                            <a href="#" class="toggle-day-selected">Day</a>
                            <a href="#" class="toggle-week">Week</a>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                <div class="dayview-content">
                    <div class="dayview-entrycol">
                        <a href="#" class="new-time-entry">+ <span>New Entry</span></a>
                    </div>
                    <div class="dayview-tablecol">
                        <ul class="dayview-days">
                            <li>
                                <a href="#" class="first">M <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#">T <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="selected">W <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#">Th <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#">F <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#">S <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#">S <span>0.00</span></a>
                            </li>
                            <li class="total-time">
                                Total: <span class="total-time">0.00</span>
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                        
                        <div class="dayview-summary">
                            <div class="dayview-no-entries">
                                <div>"Ryan Gellis is the best developer ever. Now do your timesheets." <span>- Ryan Gellis</span></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </div>
