@{
    ViewBag.Title = "sdtime";
}
<script src="../../Scripts/borrowed/dateFormat.util.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="../../Scripts/knockout-2.1.0.debug.js" type="text/javascript"></script>
        <script type="text/javascript">
            var d = new Date();
            var sd = { ui: { setSelectedWeekday: function (today) { $("." + today.format("ddd")).addClass("selected"); } } }

            $(document).ready(function () {
                // MOCK MODEL - WIP
                var DayViewModel = function () {
                    this.today = ko.observable(d.format("mm / dd"));
                    this.weekday = ko.observable(d.format("dddd"));
                    this.currentWeek = ko.observable("Week ?? (TODO)");

                    this.WeekTotals = {};
                };
                ko.applyBindings(new DayViewModel());

                sd.ui.setSelectedWeekday(d);
            });
        </script>

        
        <div class="wrapper">
            <div class="content">
                
                <div class="dayview-top">
                    <div class="dayview-left">
                        <span class="dayview-day" data-bind="text: weekday"></span> <span class="dayview-date" data-bind="text: today"></span>
                    </div>
                    <div class="dayview-right">
                        <div class="dayview-controls">
                            <a href="#" class="control-left">&lt;</a>
                            <a href="#" class="control-middle-selected"  ><span data-bind="text: currentWeek"></span></a>
                            <a href="#" class="control-right">&gt;</a>
                        </div>
                        <div class="dayview-calendar">
                            <a href="#" class="view-calendar">Pick a date...</a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="dayview-toggle">
                            <a href="#" class="toggle-day-selected">Day</a>
                            <a href="#" class="toggle-week">Week</a>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                <div class="dayview-content">
                    <div class="dayview-entrycol">
                        <a href="#" class="new-time-entry">+ <span>New Entry</span></a>
                    </div>
                    <div class="dayview-tablecol">
                        <ul class="dayview-days">
                            <li>
                                <a href="#" class="first Mon">Mon <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="Tue">Tue <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#"  class="Wed">Wed <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="Thu">Thu <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#"  class="Fri">Fri <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="weekend Sat">Sat <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="weekend Sun">Sun <span>0.00</span></a>
                            </li>
                            <li class="total-time">
                                Total: <span class="total-time">0.00</span>
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                        
                        <div class="dayview-summary">
                            <div class="dayview-no-entries">
                                <div>"Ryan Gellis is the best developer ever. Now do your timesheets." <span>- Ryan Gellis</span></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </div>
