@{
    ViewBag.Title = "sdtime";
}
<script src="../../Scripts/borrowed/dateFormat.util.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="../../Scripts/knockout-2.1.0.debug.js" type="text/javascript"></script>
    <script type="text/javascript" id="sdtime-mock-model">
        var d = new Date();

        // MOCK MODEL - WIP
        var DayViewModel = function () {
            var _self = this;
            _self.WeekDayNames = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
            _self.today = ko.observable(d.format("mm / dd"));
            _self.weekday = ko.observable(d.format("dddd"));
            _self.currentWeek = ko.computed(function (a, b, c) {
                var wd = _self.weekday();
                var _offset = -1;
                for (var p = 0; p < _self.WeekDayNames.length; p++) {
                    if (_self.WeekDayNames[p] == wd) {
                        _offset = p;
                        break;
                    }
                }

                if (_offset > -1) {
                    var weekstart = new Date();
                    weekstart.setDate(d.getDate() + (_offset * -1));
                    //$(".errordiv").text("what: " + weekstart);
                    //debugger;
                    var weekend = new Date();
                    //$(".errordiv").text("what: " + weekend);
                    //debugger;
                    weekend.setDate(d.getDate() + (6 - _offset));
                    $(".errordiv").text("what: " + weekend);
                    var weekstartMonth = weekstart.format("mmm");
                    var weekstartDay = weekstart.format("d");
                    var weekendMonth = weekend.format("mmm");
                    var weekendDay = weekend.format("d");

                    if (weekendMonth == weekstartMonth) {
                        return weekstartMonth + " " + weekstartDay + " - " + weekendDay;
                    } else {
                        return weekstartMonth + " " + weekstartDay + " - " + weekendMonth + " " + weekendDay;
                    }


                }

                return "Unexpected Error";
            });

            // TODO: Bind with Templates
            this.WeekTotals = ko.observableArray([
                        0.00, 0.99, 7.00, 0.25, 0.00, 0.46, 0.33, 12.00
                    ]);

            this.Entries = ko.observableArray([]);
        };
    </script>
        <script type="text/javascript">
            
            var vm = vm = new DayViewModel();
            var sd = {
                ui: {
                    setSelectedWeekday: function (today) {

                        $("." + today.format("ddd")).addClass("selected");
                    },
                    newEntryClick: function () {
                        vm.Entries.push({ Title : "Doing Work...", Amount : "1.00", Client : "Client A" });
                    }
                }
            }


            $(document).ready(function () {
                
                ko.applyBindings(vm);

                sd.ui.setSelectedWeekday(d);
            });
        </script>

        
        <div class="wrapper">
            <div class="content">
                
                <div class="dayview-top">
                    <div class="dayview-left">
                        <span class="dayview-day" data-bind="text: weekday"></span> <span class="dayview-date" data-bind="text: today"></span>
                    </div>
                    <div class="dayview-right">
                        <div class="dayview-controls">
                            <a href="#" class="control-left">&lt;</a>
                            <a href="#" class="control-middle-selected"  ><span data-bind="text: currentWeek"></span></a>
                            <a href="#" class="control-right">&gt;</a>
                        </div>
                        <div class="dayview-calendar">
                            <a href="#" class="view-calendar">Pick a date...</a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="dayview-toggle">
                            <a href="#" class="toggle-day-selected">Day</a>
                            <a href="#" class="toggle-week">Week</a>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                <div class="dayview-content">
                    <div class="dayview-entrycol">
                        <a href="#" onclick="javascript:sd.ui.newEntryClick(); return false;" class="new-time-entry">+ <span>New Entry</span></a>
                    </div>
                    <div class="dayview-tablecol">
                        @*TODO: Make this UL databound with ko*@
                        <ul class="dayview-days">
                            <li>
                                <a href="#" class="first Mon">Mon <span >0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="Tue">Tue <span >0.00</span></a>
                            </li>
                            <li>
                                <a href="#"  class="Wed">Wed <span >0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="Thu">Thu <span >0.00</span></a>
                            </li>
                            <li>
                                <a href="#"  class="Fri">Fri <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="weekend Sat">Sat <span>0.00</span></a>
                            </li>
                            <li>
                                <a href="#" class="weekend Sun">Sun <span>0.00</span></a>
                            </li>
                            <li class="total-time">
                                Total: <span class="total-time">0.00</span>
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                        
                        <div class="dayview-summary" data-bind="items: Entries">
                            <div class="dayview-list" >
                                <div>"Ryan Gellis is the best developer ever. Now do your timesheets." <span>- Ryan Gellis</span></div>
                                <ul  data-bind="foreach: Entries">
                                <li class="entryItem">
                                    <div>
                                        <div style="float: left;"><span class="entry-title" data-bind="text: Title"></span></div>
                                        <div style="float: left;"><span class="entry-amt" data-bind="text: Amount"></span></div>
                                        <div style="float: left;"><span class="entry-client" data-bind="text: Client"></span></div>
                                    </div>
                                </li>
                            </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </div>
