<ul class="dayview-entry-list" data-bind="foreach: tickets">
    <li class="dayview-entry">

        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div class="entry-info">
                        <div class="project-client">
                            @*<span class="project" data-bind="text: project"></span>*@
                            <span class="client" data-bind="text: client"></span>
                        </div>
                    </div>
                    <div class="task-notes">
                        <div data-bind="text: summary" ></div>
                    </div>
                </td>
                <td class="entry-time">
                    <span data-bind="text: time"></span>
                </td>
                <td class="entry-button">
                    <div data-bind="if: showRecord" >
                        <div class="button" data-bind="click: record">
                            <img src="record.gif" />
                        </div>
                    </div>
                    <div data-bind="if: showStop" >
                        <div class="button" data-bind="click: stop">
                            <img src="stop.gif" />
                        </div>
                    </div>
                </td>
                <td class="edit-button">
                    [EDIT]
                </td>
            </tr>
        </table>

    </li>
</ul>