/* HOMEPAGE
-----------------------------------------------*/

.header {
	position: relative;
	width: 100%;
	height: 72px;
	background: url(../img/header-bg.png) repeat-x top left #f37511;
}

.sd-logo 
{
    position:absolute;
    top: 10px;
    left: 76px;
    font-size: 36px;
	margin-left: 12px;
	color: #636363;
}

span.userwelcome  
{
    
}

a.userwelcome  
{
    color: Red;
}

.logoimg 
{
    margin-left: 4px;
    margin-top: 4px;
    width: 64px; height: 64px;
}

.subheader {
	width: 100%;
	height: 36px;
	padding-top: 8px;
	padding-left: 8px;
	background: url(../img/subheader-bg.png) repeat-x top left #f8f8f8;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
	text-align: left;
	clear: both;
}

.content {
	padding-top: 40px;
}

a.new-time-entry {
	position: relative;
	display: inline-block;
	font: bold 46px/55px Verdana, Tahoma, sans-serif;
	padding: 0 5px;
	width: 50px;
	color: #FFFFFF;
	background: -webkit-linear-gradient(top, #72C152, #2E8D11);
	background: -moz-linear-gradient(top, #72C152, #2E8D11);
	background: -o-linear-gradient(top, #72C152, #2E8D11);
	background: -ms-linear-gradient(top, #72C152, #2E8D11);
	background: linear-gradient(top, #72C152, #2E8D11);
	border: 1px solid #237C07;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	padding-bottom: 5px;
	text-align: center;
}
a.new-time-entry:hover {
	background: -webkit-linear-gradient(top, #66b746, #28880A);
	background: -moz-linear-gradient(top, #66b746, #28880A);
	background: -o-linear-gradient(top, #66b746, #28880A);
	background: -ms-linear-gradient(top, #66b746, #28880A);
	background: linear-gradient(top, #66b746, #28880A);
}
a.new-time-entry:active,
a.new-time-entry:inactive,
a.new-time-entry:focus {
	background: #2e8d11;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}
a.new-time-entry > span {
	display: block;
	position: absolute;
	bottom: -20px;
	left: 0;
	font: 12px Arial, Helvetica, sans-serif;
	width: 60px;
	text-align: center;
	text-shadow: none;
	color: #AAA;
}
a.new-time-entry:hover > span {
	color: #888;
}

/* DAY VIEW
-----------------------------------------------*/

.dayview-top {
	margin-left: 85px;
	width: 770px;
	clear: both;
}

.dayview-left {
	float: left;
}

.dayview-right {
	float: right;
}

.dayview-day {
	font: bold 28px/34px Arial, Helvetica, sans-serif;
}

.dayview-date {
	padding-left: 5px;
	font: 28px/34px Arial, Helvetica, sans-serif;
	color: #999;
}

.dayview-controls {
	padding-right: 10px;
	float: left;
}
.dayview-calendar {
	padding-right: 10px;
	float: left;
}
.dayview-toggle {
	float: left;
}

a.control-left {
	display: block; 
	border: 1px solid #BBB;
	border-right: none;
	font: 13px Arial, Helvetica, sans-serif;
	color: #555;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	float: left;
}
a.control-left:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
a.control-left:active,
a.control-left:focus {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}
a.control-middle {
	display: block;
	border: 1px solid #BBB;
	font: 13px Arial, Helvetica, sans-serif;
	color: #555;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	float: left;
}
a.control-middle:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
a.control-middle:active,
a.control-middle:focus {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}
a.control-middle-selected {
	display: block;
	border: 1px solid #BBB;
	font: 13px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 6px 15px;
	float: left;
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	color: #999;
	text-shadow: 0 1px 0 #FFF;
}
a.control-right {
	display: block;
	border: 1px solid #BBB;
	border-left: none;
	font: 13px Arial, Helvetica, sans-serif;
	color: #555;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float: left;
}
a.control-right:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
a.control-right:active,
a.control-right:focus {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}

a.view-calendar {
	display: block;
	border: 1px solid #BBB;
	font: 13px Arial, Helvetica, sans-serif;
	color: #555;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	border-radius: 4px;
	float: left;
}
a.view-calendar:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
a.view-calendar:active,
a.view-calendar:focus {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}

a.toggle-day {
	display: block;
	border: 1px solid #BBB;
	border-right: none;
	font: 13px Arial, Helvetica, sans-serif;
	color: #555;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	float: left;
}
a.toggle-day:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
a.toggle-day:active,
a.toggle-day:focus {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}
a.toggle-week {
	display: block;
	border: 1px solid #BBB;
	font: 13px Arial, Helvetica, sans-serif;
	color: #555;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float: left;
}
a.toggle-week:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
a.toggle-week:active,
a.toggle-week:focus {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}

a.toggle-day-selected {
	display: block;
	border: 1px solid #BBB;
	border-right: none;
	font: 13px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 6px 15px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	float: left;
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	color: #999;
	text-shadow: 0 1px 0 #FFF;
}
a.toggle-week-selected {
	display: block;
	border: 1px solid #BBB;
	font: 13px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 6px 15px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float: left;
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	color: #999;
	text-shadow: 0 1px 0 #FFF;
}

.dayview-content {
	padding-top: 15px;
}

.dayview-entrycol {
	width: 85px;
	float: left;
}

.dayview-tablecol {
	width: 770px;
	float: left;
}

ul.dayview-days {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 770px;
	height: 45px;
}
ul.dayview-days li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}
ul.dayview-days li a span {
	display: block;
	font-weight: normal;
	font-size: 12px;
}
ul.dayview-days li a {
	display: block;
	width: 62px;
	height: 33px;
	text-indent: 5px;
	border: 1px solid #CCC;
	border-right: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	clear: both;
}
ul.dayview-days li a:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
ul.dayview-days li a:focus,
ul.dayview-days li a:active {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}
ul.dayview-days li a.selected {
	display: block;
	width: 62px;
	height: 33px;
	text-indent: 5px;
	border: 1px solid #CCC;
	border-right: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	clear: both;
}
ul.dayview-days li a.first {
	display: block;
	width: 62px;
	height: 33px;
	text-indent: 5px;
	border: 1px solid #CCC;
	border-right: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	padding: 6px 15px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	border-top-left-radius: 5px;
	clear: both;
}
ul.dayview-days li a.first:hover {
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
}
ul.dayview-days li a.first:focus,
ul.dayview-days li a.first:active {
	background: #eaeaea;
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}
ul.dayview-days li.total-time {
	display: block;
	width: 117px;
	height: 45px;
	background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
	background: linear-gradient(top, #f8f8f8, #e8e8e8);
	border: 1px solid #CCC;
	border-top-right-radius: 5px;
	font: 14px/45px Arial, Helvetica, sans-serif;
	color: #888;
	text-align: center;
}
span.total-time {
	font-weight: bold;
}

.dayview-summary 
{
    
}

.dayview-list {
	width: 768px;
	height: 345px;
	background: #FAFAFA;
	border: 1px solid #CCC;
	border-top: none;
	padding-top: 1px;
	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

.entryItem  
{
    height: 80px;
    border: 1px dotted black;
    list-style-type: none;
    margin-right: 5px;
    margin-left:-35px;

}

.entry-title  
{
       
}

.entry-amt  
{
    
}

.entry-client
{
    
}

.dayview-no-entries > div {
	display: inline-block;
	line-height: 35px;
	vertical-align: middle;
	color: #CCC;
	text-align: center;
	font-weight: 200;
	font-size: 20px;
}
.dayview-no-entries > div span {
	display: block;
	font-weight: normal;
	font-size: 16px;
}

.errorpanel { color: Red; margin-left: 25px; }