/* =========================================================================
   Reset 
   ========================================================================= */

*,
html,
body {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

img, 
iframe,
fieldset {
	border: 0;
}

img,
label {
	display: block;
}

::-moz-focus-inner {
	border: 0;
}

:focus {
	outline: 0;
}

textarea {
	resize: vertical;
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	vertical-align: top;
}

label,
input[type=submit] {
	cursor: pointer;
}

.clearfix:before, 
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.lt-ie8 .clearfix {
	zoom: 1;
}

/* =========================================================================
   Forms
   ========================================================================= */

input[type=text], 
select,
textarea {
	padding: 5px;
	border: 1px solid #CCC;
}

input[type=submit] {
	padding: 5px 10px;
	background: #F58220;
	border: 0;
	color: #FFF;
}

input[type=submit]:hover {
	background: #666;
}

/* =========================================================================
   Typography
   ========================================================================= */

body {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.4;
	color: #222;
}

input, 
select, 
textarea {
	font-family: sans-serif;
	font-size: 12px;
	color: #222;
	vertical-align: top;
}

h1 {
	margin: 0 0 7px 0;
	font-family: "franklin-gothic-urw-cond", sans-serif;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.05;
	text-transform: uppercase;
	color: #666;
}

h2 {
	margin: 0 0 6px 0;
	font-family: "museo-slab", Rockwell, sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.05;
	color: #F58220;
}

h3 {
	margin: 0 0 7px 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2;
}

h1 a,
h2 a,
h3 a {
	display: block;
}

h1 a {
	color: #666;
}

h3 a {
	color: #222;
}

h4 {
	font-size: 10px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #999;
}

h5,
h6 {
	font-size: 12px;
	font-weight: bold;
}

p {
	margin: 0 0 12px 0;
}

ul,
ol {
	margin: 0 0 12px 15px;
}

ul li,
ol li {
	margin: 0 0 6px 0;
}

a {
	color: #F58220;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* =========================================================================
   Layout
   ========================================================================= */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #666666;
	color: #FFF;
}

header h1 {
	float: left;
	width: 107px;
	margin: 7px 100px 7px 7px;
}

p.user-info {
	float: right;
	margin: 7px;
}

p.user-info a {
	color: #FFF;
}

.filters {
	float: left;
	margin: 13px 7px 0 0;
}

.filters select {
	float: left;
	width: 200px;
	margin: 0 7px 0 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.filter-bar {
	display: none;
	clear: both;
	width: 100%;
	padding: 7px 0 0 7px;
	background: #999;
	box-shadow: -7px 7px 7px -7px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: -7px 7px 7px -7px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: -7px 7px 7px -7px rgba(0, 0, 0, 0.15) inset;
}

.filter-bar a.filter-item {
	float: left;
	display: block;
	margin: 0 7px 7px 0;
	padding: 5px 21px 5px 7px;
	background: #E9E9E9 url(cross.png) no-repeat right center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	color: #222;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
}

.filter-bar a.filter-item:hover {
	background: #FFF url(cross.png) no-repeat right center;
}

#container {
	width: 1000%; /* Fake width - real width gets set using JS */
	padding: 54px 0 0 0;
}

.bucket {
	float: left;
	width: 186px;
	min-height: 145px;
	margin: 7px 0 0 7px;
	padding: 7px;
	background: #E9E9E9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.bucket ul {
	min-height: 95px;
	margin: 0;
	list-style: none;
}

.ticket {
	width: 172px;
	margin: 10px 0 0 0;
	padding: 7px 7px 0 7px;
	background: #FFF;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	color: #444;
	cursor: move;
}

.ticket:first-child,
.ui-sortable-helper:first-child + .ticket {
	margin: 0;
}

.ui-sortable-placeholder {
	visibility: visible !important;
	width: 168px;
	background: #E3E3E3;
	border: 2px dashed #ABABAB;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.ticket .left-col,
.ticket .right-col {
	float: left;
	width: 107px;
	margin: 0 0 7px 0;
	line-height: 1.2;
}

.ticket .left-col.new-row {
	clear: both;
}

.ticket .right-col {
	width: 58px;
	margin-left: 7px;
}

/* =========================================================================
   Mobile
   ========================================================================= */

@media only screen and (max-width: 820px) {

p.user-info {
	float: left;
	clear: left;
}

#container {
	padding: 85px 0 0 0;
}

}

@media only screen and (max-width: 660px) {

header h1 {
	float: none;
	margin: 7px auto 7px auto;
}

p.user-info {
	float: none;
	clear: none;
	text-align: center;
}

.filters {
	float: none;
	width: 414px;
	margin: 10px auto 0 auto;
	padding: 0 0 0 7px;
}

#container {
	padding: 115px 0 0 0;
}

}

@media only screen and (max-width: 460px) {

.filters {
	width: 207px;
}

.filters select {
	margin-top: 7px;
}

.filters select:first-child {
	margin-top: 0;
}

#container {
	padding: 149px 0 0 0;
}

}
