@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="clearfix">
	<h1><a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/logo.png)" width="107" height="40" alt="SD Time" /></a></h1>
	
	<div class="filters clearfix">
		<select id="employee-filter" data-bind="options: members, optionsText: 'fullName', value: selectedMember,  event:{ change: addSelectedEmployee}"></select>
		<select id="client-filter" data-bind="options: clients, optionsText: 'clientName', value: selectedClient,  event:{ change: addSelectedClient}"></select>
	</div><!-- filters -->
	
	<p class="user-info">Logged in as <strong><a href="@Url.Action("ViewProfile", "User")">@ViewBag.Username</a></strong></p>
	
	<div class="filter-bar clearfix">
		<!-- ko foreach: selectedMembers -->
			<a class="filter-item" data-bind="text: fullName, event : { click : removeSelectedEmployee }" title="Remove this filter"></a>
		<!-- /ko -->
		<!-- ko foreach: selectedClients -->
			<a class="filter-item" data-bind="text: clientName, event : { click : removeSelectedClient }" title="Remove this filter"></a>			
		<!-- /ko -->
	</div><!-- filter-bar -->
	
	<div class="errordiv"></div>

</header>

<section data-bind="foreach: buckets" id="container" class="clearfix">
	<div class="bucket">
		<h1 data-bind="text: name"></h1>
		<ul data-bind="sortable: {value: $data, params: $parent, index: $index}">
			<!-- ko foreach: tickets -->
			<li class="ticket clearfix" data-bind="attr : {'id': number}">
				<h2 data-bind="text: client"></h2>
				<h3 data-bind="text: name"></h3>
				<div class="left-col"><h4>Assigned</h4> <span type="text" data-bind="text: assigned"></span></div>
				<div class="right-col"><h4>Budget</h4> <span type="text" data-bind="text: budget"></span></div>
				<div class="left-col new-row"><h4>Ticket</h4> <span type="text" data-bind="text: number"></span></div>
				<div class="right-col"><h4>Actual</h4> <span type="text" data-bind="text: actual"></span></div>
			</li>
		<!-- /ko -->
		</ul>
	</div><!-- bucket -->	   
</section>
