@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Profile</h2>

<div>Name: @ViewBag.Username</div>

<div>Identity Provider: @ViewBag.ProviderName   </div>

<div>Member Since: @ViewBag.MemberSince</div>

